body {
}
.succ-message{
            color: #00FFCC;
            font-family:'Lucida Calligraphy';
            font-size:20px;
}
.error-message{
            color: red;
            font-family:'Lucida Calligraphy';
            font-size:20px;
}


